include COPYING
include COPYING.LESSER
include INSTALL
include README.md
include AUTHORS
include ChangeLog
include desktop/*
include icons/*
include man/*
include build.mk
recursive-include contrib *
recursive-include weboob/applications Makefile
recursive-include weboob/tools/application Makefile
