[Desktop Entry]
Name=Masstransit
Comment=Search for train stations and departure times
Exec=masstransit
Icon=masstransit
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;GTK;
Keywords=departures;train;stations;timetable;travel;
