[Desktop Entry]
Name=QBoobmsg
Comment=Send and receive messages from various websites
Exec=qboobmsg
Icon=qboobmsg
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;Qt;
Keywords=messaging;chat;forum;
