[Desktop Entry]
Name=QHaveDate
Comment=Optimize your probabilities to have sex on dating websites
Exec=qhavedate
Icon=qhavedate
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;Chat;ContactManagement;Qt;
Keywords=dating;sex;girls;boys;tinder;
