[Desktop Entry]
Name=QVideoob
Comment=Search for videos on many websites, and get info about them
Exec=qvideoob
Icon=qvideoob
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Qt;
Keywords=movies;video;youtube;player;
